# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
gradlew
gradlew.bat

repo

/.git

/src/main/resources/worlds/custom_world.zip
/build/libs/britannia_mod-0.0.1.jar